* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.bg1{
  
  background-image: url("https://gadgetadvisor.com/wp-content/uploads/2020/05/gadgets.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  width: auto;
  height: auto;

}
.cstyle{
  background-color:rgb(0,0,255);opacity:0.8;
}
